name: Core Tests

on:
  push:
    branches: [ main ]
    paths:
        - '**'
        - '!**/*.md'
        - '!.github/workflows/*.yml'
        - '.github/workflows/core-tests.yml'

  pull_request:
    branches: [ main ]
    paths:
        - '**'
        - '!**/*.md'
        - '!.github/workflows/*.yml'
        - '.github/workflows/core-tests.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java-version: ['8', '11', '17', '19']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'adopt'
    - name: Run core tests
      run: |
        ant -version
        ant test
